
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Articles can be read by anyone
    // Articles can be created by anyone
    // Articles can be updated (for likes) by anyone, but not deleted
    match /articles/{articleId} {
      allow read: if true;
      allow create: if true;
      allow update: if request.resource.data.diff(resource.data).affectedKeys().hasOnly(['likeCount']);
      allow delete: if false;
    }
  }
}
